<h1>Reviews:</h1>

<ol>
<% @reviews.each do |review| %>
  <li class="card"><%= review.content %> (Rating: <%= review.rating %>)
  <%= link_to 'delete', review_path(review), data: {turbo_method: :delete, turbo_confirm: 'Are Your sure?' }  %>
</li>
<% end %>
</ol>


<%= link_to 'Back to Restaurant', restaurant_path(@restaurant) %>
